In [30]:
import pandas as pd
import numpy as np

In [31]:
#Object creation
s = pd.Series([1,2,3,np.nan,4,5,6,7,8,9])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [32]:
dates = pd.date_range('20230101', periods=30)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

In [33]:
df = pd.DataFrame(np.random.randn(30,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01 -0.882984  0.492571 -1.052183  0.002512
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-03  0.508919  1.617742 -0.460865  2.584497
2023-01-04 -0.801649  0.131898  0.772547 -0.388101
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824
2023-01-06 -0.204313  0.050675 -0.827056 -0.088165
2023-01-07 -1.177268  1.107909  0.361844 -1.292428
2023-01-08  0.848492 -1.471600 -1.722289  0.518982
2023-01-09  2.274555 -0.849919  0.079231 -0.462911
2023-01-10 -0.698696  1.774935 -0.795400 -0.165599
2023-01-11 -0.397225 -0.705440 -0.670563  0.683139
2023-01-12 -0.745329 -0.133100 -0.698459 -0.214659
2023-01-13 -0.210038  1.595001 -1.069953  0.005108
2023-01-14 -0.912284 -1.742425  0.661786 -0.087189
2023-01-15  0.087768  1.115657  0.804005  0.207032
2023-01-16 -1.180511  0.128649 -1.143905  0.546148
2023-01-17 -0.431363 -1.133710  2.249220  0.036143
2023-01-18  0.530775  0.149690 -0.004461 -1.786270
2023-01-19 -0.575822 -2.150647  0.238443 -0.031255
2023-01-20  1.234565  1.131698 -0.662072 -0.238713
2023-01-21 -1.997427  0.953925 -0.066815  0.691014
2023-01-22 -0.088016 -0.621893 -0.200423  1.826066
2023-01-23 -0.673558  0.893967  1.808998 -0.169222
2023-01-24  0.175554 -0.506150 -0.719203 -0.234602
2023-01-25 -1.339656 -0.162980  0.326060  0.902816
2023-01-26 -1.614238 -0.861238  0.509136  1.083919
2023-01-27  0.790750 -0.323677  1.161295  0.325749
2023-01-28  0.368501  0.082505  0.178071  1.750669
2023-01-29  0.241534 -0.018960  0.185802 -0.205038
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106

In [34]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("2023-03-14"),
        "C": pd.Series(1, index=list(range(4)),dtype="float32"),
        "D": np.array([3]*4,dtype="int32"),
        "E": pd.Categorical(["girl", "women", "girl", "women"]),
        "F": "females"
    }
)
df2

     A          B    C  D      E        F
0  1.0 2023-03-14  1.0  3   girl  females
1  1.0 2023-03-14  1.0  3  women  females
2  1.0 2023-03-14  1.0  3   girl  females
3  1.0 2023-03-14  1.0  3  women  females

In [35]:
df.head(3)

                   A         B         C         D
2023-01-01 -0.882984  0.492571 -1.052183  0.002512
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-03  0.508919  1.617742 -0.460865  2.584497

In [36]:
df.tail(2)

                   A         B         C         D
2023-01-29  0.241534 -0.018960  0.185802 -0.205038
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106

In [39]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df.to_numpy()

array([[-8.82983809e-01,  4.92571173e-01, -1.05218280e+00,
         2.51153505e-03],
       [ 1.04701973e+00,  7.39305452e-01, -1.19424775e+00,
        -6.81416328e-01],
       [ 5.08919166e-01,  1.61774242e+00, -4.60864712e-01,
         2.58449731e+00],
       [-8.01649197e-01,  1.31897635e-01,  7.72546657e-01,
        -3.88101477e-01],
       [-5.13947539e-01, -1.52829556e+00,  8.58367736e-01,
        -4.70823879e-01],
       [-2.04313035e-01,  5.06745341e-02, -8.27055730e-01,
        -8.81652107e-02],
       [-1.17726799e+00,  1.10790868e+00,  3.61844495e-01,
        -1.29242814e+00],
       [ 8.48491648e-01, -1.47159975e+00, -1.72228863e+00,
         5.18981864e-01],
       [ 2.27455475e+00, -8.49918545e-01,  7.92310236e-02,
        -4.62911140e-01],
       [-6.98695892e-01,  1.77493537e+00, -7.95399522e-01,
        -1.65599234e-01],
       [-3.97225150e-01, -7.05440295e-01, -6.70562867e-01,
         6.83138588e-01],
       [-7.45328697e-01, -1.33100488e-01, -6.98458555e-01,
        -2.14658938e-01],
       [-2.10038362e-01,  1.59500141e+00, -1.06995315e+00,
         5.10841910e-03],
       [-9.12283902e-01, -1.74242487e+00,  6.61785698e-01,
        -8.71887134e-02],
       [ 8.77684040e-02,  1.11565707e+00,  8.04004541e-01,
         2.07032092e-01],
       [-1.18051112e+00,  1.28648991e-01, -1.14390549e+00,
         5.46148178e-01],
       [-4.31362622e-01, -1.13371043e+00,  2.24921967e+00,
         3.61425349e-02],
       [ 5.30775388e-01,  1.49690279e-01, -4.46070691e-03,
        -1.78627043e+00],
       [-5.75822020e-01, -2.15064734e+00,  2.38443466e-01,
        -3.12553759e-02],
       [ 1.23456542e+00,  1.13169790e+00, -6.62071592e-01,
        -2.38713430e-01],
       [-1.99742687e+00,  9.53924704e-01, -6.68152474e-02,
         6.91013685e-01],
       [-8.80155570e-02, -6.21893069e-01, -2.00422675e-01,
         1.82606584e+00],
       [-6.73557596e-01,  8.93967491e-01,  1.80899762e+00,
        -1.69221584e-01],
       [ 1.75554208e-01, -5.06149829e-01, -7.19202871e-01,
        -2.34602132e-01],
       [-1.33965588e+00, -1.62979914e-01,  3.26059772e-01,
         9.02816438e-01],
       [-1.61423767e+00, -8.61238461e-01,  5.09136059e-01,
         1.08391894e+00],
       [ 7.90749659e-01, -3.23677442e-01,  1.16129534e+00,
         3.25748909e-01],
       [ 3.68501188e-01,  8.25053380e-02,  1.78070821e-01,
         1.75066915e+00],
       [ 2.41534329e-01, -1.89597803e-02,  1.85801751e-01,
        -2.05038302e-01],
       [-3.23864756e-01,  1.08124863e-01, -3.52724855e-01,
        -1.60106172e-01]])

In [43]:
df.describe()

               A          B          C          D
count  30.000000  30.000000  30.000000  30.000000
mean   -0.221992  -0.004526  -0.048194   0.149576
std     0.919031   1.031262   0.913470   0.876319
min    -1.997427  -2.150647  -1.722289  -1.786270
25%    -0.787569  -0.684553  -0.714017  -0.229616
50%    -0.360545   0.066590  -0.035638  -0.059222
75%     0.336759   0.855302   0.472313   0.539357
max     2.274555   1.774935   2.249220   2.584497

In [45]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2023-03-14 00:00:00,2023-03-14 00:00:00,2023-03-14 00:00:00,2023-03-14 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girl,women,girl,women
F,females,females,females,females

In [49]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106
2023-01-29  0.241534 -0.018960  0.185802 -0.205038
2023-01-28  0.368501  0.082505  0.178071  1.750669
2023-01-27  0.790750 -0.323677  1.161295  0.325749
2023-01-26 -1.614238 -0.861238  0.509136  1.083919
2023-01-25 -1.339656 -0.162980  0.326060  0.902816
2023-01-24  0.175554 -0.506150 -0.719203 -0.234602
2023-01-23 -0.673558  0.893967  1.808998 -0.169222
2023-01-22 -0.088016 -0.621893 -0.200423  1.826066
2023-01-21 -1.997427  0.953925 -0.066815  0.691014
2023-01-20  1.234565  1.131698 -0.662072 -0.238713
2023-01-19 -0.575822 -2.150647  0.238443 -0.031255
2023-01-18  0.530775  0.149690 -0.004461 -1.786270
2023-01-17 -0.431363 -1.133710  2.249220  0.036143
2023-01-16 -1.180511  0.128649 -1.143905  0.546148
2023-01-15  0.087768  1.115657  0.804005  0.207032
2023-01-14 -0.912284 -1.742425  0.661786 -0.087189
2023-01-13 -0.210038  1.595001 -1.069953  0.005108
2023-01-12 -0.745329 -0.133100 -0.698459 -0.214659
2023-01-11 -0.397225 -0.705440 -0.670563  0.683139
2023-01-10 -0.698696  1.774935 -0.795400 -0.165599
2023-01-09  2.274555 -0.849919  0.079231 -0.462911
2023-01-08  0.848492 -1.471600 -1.722289  0.518982
2023-01-07 -1.177268  1.107909  0.361844 -1.292428
2023-01-06 -0.204313  0.050675 -0.827056 -0.088165
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824
2023-01-04 -0.801649  0.131898  0.772547 -0.388101
2023-01-03  0.508919  1.617742 -0.460865  2.584497
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-01 -0.882984  0.492571 -1.052183  0.002512

In [53]:
df.sort_values(by="B", ascending=True)

                   A         B         C         D
2023-01-19 -0.575822 -2.150647  0.238443 -0.031255
2023-01-14 -0.912284 -1.742425  0.661786 -0.087189
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824
2023-01-08  0.848492 -1.471600 -1.722289  0.518982
2023-01-17 -0.431363 -1.133710  2.249220  0.036143
2023-01-26 -1.614238 -0.861238  0.509136  1.083919
2023-01-09  2.274555 -0.849919  0.079231 -0.462911
2023-01-11 -0.397225 -0.705440 -0.670563  0.683139
2023-01-22 -0.088016 -0.621893 -0.200423  1.826066
2023-01-24  0.175554 -0.506150 -0.719203 -0.234602
2023-01-27  0.790750 -0.323677  1.161295  0.325749
2023-01-25 -1.339656 -0.162980  0.326060  0.902816
2023-01-12 -0.745329 -0.133100 -0.698459 -0.214659
2023-01-29  0.241534 -0.018960  0.185802 -0.205038
2023-01-06 -0.204313  0.050675 -0.827056 -0.088165
2023-01-28  0.368501  0.082505  0.178071  1.750669
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106
2023-01-16 -1.180511  0.128649 -1.143905  0.546148
2023-01-04 -0.801649  0.131898  0.772547 -0.388101
2023-01-18  0.530775  0.149690 -0.004461 -1.786270
2023-01-01 -0.882984  0.492571 -1.052183  0.002512
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-23 -0.673558  0.893967  1.808998 -0.169222
2023-01-21 -1.997427  0.953925 -0.066815  0.691014
2023-01-07 -1.177268  1.107909  0.361844 -1.292428
2023-01-15  0.087768  1.115657  0.804005  0.207032
2023-01-20  1.234565  1.131698 -0.662072 -0.238713
2023-01-13 -0.210038  1.595001 -1.069953  0.005108
2023-01-03  0.508919  1.617742 -0.460865  2.584497
2023-01-10 -0.698696  1.774935 -0.795400 -0.165599

In [60]:
df["C"]

2023-01-01   -1.052183
2023-01-02   -1.194248
2023-01-03   -0.460865
2023-01-04    0.772547
2023-01-05    0.858368
2023-01-06   -0.827056
2023-01-07    0.361844
2023-01-08   -1.722289
2023-01-09    0.079231
2023-01-10   -0.795400
2023-01-11   -0.670563
2023-01-12   -0.698459
2023-01-13   -1.069953
2023-01-14    0.661786
2023-01-15    0.804005
2023-01-16   -1.143905
2023-01-17    2.249220
2023-01-18   -0.004461
2023-01-19    0.238443
2023-01-20   -0.662072
2023-01-21   -0.066815
2023-01-22   -0.200423
2023-01-23    1.808998
2023-01-24   -0.719203
2023-01-25    0.326060
2023-01-26    0.509136
2023-01-27    1.161295
2023-01-28    0.178071
2023-01-29    0.185802
2023-01-30   -0.352725
Freq: D, Name: C, dtype: float64

In [69]:
df[0:3]

                   A         B         C         D
2023-01-01 -0.882984  0.492571 -1.052183  0.002512
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-03  0.508919  1.617742 -0.460865  2.584497

In [76]:
df.loc[:, ["A", "B"]]

                   A         B
2023-01-01 -0.882984  0.492571
2023-01-02  1.047020  0.739305
2023-01-03  0.508919  1.617742
2023-01-04 -0.801649  0.131898
2023-01-05 -0.513948 -1.528296
2023-01-06 -0.204313  0.050675
2023-01-07 -1.177268  1.107909
2023-01-08  0.848492 -1.471600
2023-01-09  2.274555 -0.849919
2023-01-10 -0.698696  1.774935
2023-01-11 -0.397225 -0.705440
2023-01-12 -0.745329 -0.133100
2023-01-13 -0.210038  1.595001
2023-01-14 -0.912284 -1.742425
2023-01-15  0.087768  1.115657
2023-01-16 -1.180511  0.128649
2023-01-17 -0.431363 -1.133710
2023-01-18  0.530775  0.149690
2023-01-19 -0.575822 -2.150647
2023-01-20  1.234565  1.131698
2023-01-21 -1.997427  0.953925
2023-01-22 -0.088016 -0.621893
2023-01-23 -0.673558  0.893967
2023-01-24  0.175554 -0.506150
2023-01-25 -1.339656 -0.162980
2023-01-26 -1.614238 -0.861238
2023-01-27  0.790750 -0.323677
2023-01-28  0.368501  0.082505
2023-01-29  0.241534 -0.018960
2023-01-30 -0.323865  0.108125

In [79]:
#defining row range like date from 1st Jan to 5th Jan
df.loc["2023-01-01":"2023-01-05", ["A", "B", "C"]]

                   A         B         C
2023-01-01 -0.882984  0.492571 -1.052183
2023-01-02  1.047020  0.739305 -1.194248
2023-01-03  0.508919  1.617742 -0.460865
2023-01-04 -0.801649  0.131898  0.772547
2023-01-05 -0.513948 -1.528296  0.858368

In [82]:
#defining row criteria like 1st AND 4th Jan (NOT RANGE) Row should be in list form
df.loc[["2023-01-01","2023-01-04"], ["A", "B", "C"]]

                   A         B         C
2023-01-01 -0.882984  0.492571 -1.052183
2023-01-04 -0.801649  0.131898  0.772547

In [84]:
#for specific row record
df.loc[["2023-01-01"], ["A", "B", "C"]]

                   A         B         C
2023-01-01 -0.882984  0.492571 -1.052183

In [88]:
df.at[dates[17],"A"]

0.5307753879931036

In [95]:
df.iloc[0:5, :]

                   A         B         C         D
2023-01-01 -0.882984  0.492571 -1.052183  0.002512
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-03  0.508919  1.617742 -0.460865  2.584497
2023-01-04 -0.801649  0.131898  0.772547 -0.388101
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824

In [99]:
df.iloc[:, :1]

                   A
2023-01-01 -0.882984
2023-01-02  1.047020
2023-01-03  0.508919
2023-01-04 -0.801649
2023-01-05 -0.513948
2023-01-06 -0.204313
2023-01-07 -1.177268
2023-01-08  0.848492
2023-01-09  2.274555
2023-01-10 -0.698696
2023-01-11 -0.397225
2023-01-12 -0.745329
2023-01-13 -0.210038
2023-01-14 -0.912284
2023-01-15  0.087768
2023-01-16 -1.180511
2023-01-17 -0.431363
2023-01-18  0.530775
2023-01-19 -0.575822
2023-01-20  1.234565
2023-01-21 -1.997427
2023-01-22 -0.088016
2023-01-23 -0.673558
2023-01-24  0.175554
2023-01-25 -1.339656
2023-01-26 -1.614238
2023-01-27  0.790750
2023-01-28  0.368501
2023-01-29  0.241534
2023-01-30 -0.323865

In [107]:
#using boolean operators for criteria
df[df["A"] > 1.2]

                   A         B         C         D
2023-01-09  2.274555 -0.849919  0.079231 -0.462911
2023-01-20  1.234565  1.131698 -0.662072 -0.238713

In [109]:
#for whole data frame
df[df > 0]

                   A         B         C         D
2023-01-01       NaN  0.492571       NaN  0.002512
2023-01-02  1.047020  0.739305       NaN       NaN
2023-01-03  0.508919  1.617742       NaN  2.584497
2023-01-04       NaN  0.131898  0.772547       NaN
2023-01-05       NaN       NaN  0.858368       NaN
2023-01-06       NaN  0.050675       NaN       NaN
2023-01-07       NaN  1.107909  0.361844       NaN
2023-01-08  0.848492       NaN       NaN  0.518982
2023-01-09  2.274555       NaN  0.079231       NaN
2023-01-10       NaN  1.774935       NaN       NaN
2023-01-11       NaN       NaN       NaN  0.683139
2023-01-12       NaN       NaN       NaN       NaN
2023-01-13       NaN  1.595001       NaN  0.005108
2023-01-14       NaN       NaN  0.661786       NaN
2023-01-15  0.087768  1.115657  0.804005  0.207032
2023-01-16       NaN  0.128649       NaN  0.546148
2023-01-17       NaN       NaN  2.249220  0.036143
2023-01-18  0.530775  0.149690       NaN       NaN
2023-01-19       NaN       NaN  0.238443       NaN
2023-01-20  1.234565  1.131698       NaN       NaN
2023-01-21       NaN  0.953925       NaN  0.691014
2023-01-22       NaN       NaN       NaN  1.826066
2023-01-23       NaN  0.893967  1.808998       NaN
2023-01-24  0.175554       NaN       NaN       NaN
2023-01-25       NaN       NaN  0.326060  0.902816
2023-01-26       NaN       NaN  0.509136  1.083919
2023-01-27  0.790750       NaN  1.161295  0.325749
2023-01-28  0.368501  0.082505  0.178071  1.750669
2023-01-29  0.241534       NaN  0.185802       NaN
2023-01-30       NaN  0.108125       NaN       NaN

In [112]:
df3 = df.copy()
df3

                   A         B         C         D
2023-01-01 -0.882984  0.492571 -1.052183  0.002512
2023-01-02  1.047020  0.739305 -1.194248 -0.681416
2023-01-03  0.508919  1.617742 -0.460865  2.584497
2023-01-04 -0.801649  0.131898  0.772547 -0.388101
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824
2023-01-06 -0.204313  0.050675 -0.827056 -0.088165
2023-01-07 -1.177268  1.107909  0.361844 -1.292428
2023-01-08  0.848492 -1.471600 -1.722289  0.518982
2023-01-09  2.274555 -0.849919  0.079231 -0.462911
2023-01-10 -0.698696  1.774935 -0.795400 -0.165599
2023-01-11 -0.397225 -0.705440 -0.670563  0.683139
2023-01-12 -0.745329 -0.133100 -0.698459 -0.214659
2023-01-13 -0.210038  1.595001 -1.069953  0.005108
2023-01-14 -0.912284 -1.742425  0.661786 -0.087189
2023-01-15  0.087768  1.115657  0.804005  0.207032
2023-01-16 -1.180511  0.128649 -1.143905  0.546148
2023-01-17 -0.431363 -1.133710  2.249220  0.036143
2023-01-18  0.530775  0.149690 -0.004461 -1.786270
2023-01-19 -0.575822 -2.150647  0.238443 -0.031255
2023-01-20  1.234565  1.131698 -0.662072 -0.238713
2023-01-21 -1.997427  0.953925 -0.066815  0.691014
2023-01-22 -0.088016 -0.621893 -0.200423  1.826066
2023-01-23 -0.673558  0.893967  1.808998 -0.169222
2023-01-24  0.175554 -0.506150 -0.719203 -0.234602
2023-01-25 -1.339656 -0.162980  0.326060  0.902816
2023-01-26 -1.614238 -0.861238  0.509136  1.083919
2023-01-27  0.790750 -0.323677  1.161295  0.325749
2023-01-28  0.368501  0.082505  0.178071  1.750669
2023-01-29  0.241534 -0.018960  0.185802 -0.205038
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106

In [117]:
df3["E"] = ["one", "two", "three", "four", "five", "six","one", "two", "three", "four", "five", "six",
            "one", "two", "three", "four", "five", "six","one", "two", "three", "four", "five", "six","one", "two", "three", "four", "five", "six" ]
df3

                   A         B         C         D      E
2023-01-01 -0.882984  0.492571 -1.052183  0.002512    one
2023-01-02  1.047020  0.739305 -1.194248 -0.681416    two
2023-01-03  0.508919  1.617742 -0.460865  2.584497  three
2023-01-04 -0.801649  0.131898  0.772547 -0.388101   four
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824   five
2023-01-06 -0.204313  0.050675 -0.827056 -0.088165    six
2023-01-07 -1.177268  1.107909  0.361844 -1.292428    one
2023-01-08  0.848492 -1.471600 -1.722289  0.518982    two
2023-01-09  2.274555 -0.849919  0.079231 -0.462911  three
2023-01-10 -0.698696  1.774935 -0.795400 -0.165599   four
2023-01-11 -0.397225 -0.705440 -0.670563  0.683139   five
2023-01-12 -0.745329 -0.133100 -0.698459 -0.214659    six
2023-01-13 -0.210038  1.595001 -1.069953  0.005108    one
2023-01-14 -0.912284 -1.742425  0.661786 -0.087189    two
2023-01-15  0.087768  1.115657  0.804005  0.207032  three
2023-01-16 -1.180511  0.128649 -1.143905  0.546148   four
2023-01-17 -0.431363 -1.133710  2.249220  0.036143   five
2023-01-18  0.530775  0.149690 -0.004461 -1.786270    six
2023-01-19 -0.575822 -2.150647  0.238443 -0.031255    one
2023-01-20  1.234565  1.131698 -0.662072 -0.238713    two
2023-01-21 -1.997427  0.953925 -0.066815  0.691014  three
2023-01-22 -0.088016 -0.621893 -0.200423  1.826066   four
2023-01-23 -0.673558  0.893967  1.808998 -0.169222   five
2023-01-24  0.175554 -0.506150 -0.719203 -0.234602    six
2023-01-25 -1.339656 -0.162980  0.326060  0.902816    one
2023-01-26 -1.614238 -0.861238  0.509136  1.083919    two
2023-01-27  0.790750 -0.323677  1.161295  0.325749  three
2023-01-28  0.368501  0.082505  0.178071  1.750669   four
2023-01-29  0.241534 -0.018960  0.185802 -0.205038   five
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106    six

In [119]:
#air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
df3["Summation"] = df3["A"] +df3["B"] + df3["C"] + df3["D"]
df3

                   A         B         C         D      E  Summation
2023-01-01 -0.882984  0.492571 -1.052183  0.002512    one  -1.440084
2023-01-02  1.047020  0.739305 -1.194248 -0.681416    two  -0.089339
2023-01-03  0.508919  1.617742 -0.460865  2.584497  three   4.250294
2023-01-04 -0.801649  0.131898  0.772547 -0.388101   four  -0.285306
2023-01-05 -0.513948 -1.528296  0.858368 -0.470824   five  -1.654699
2023-01-06 -0.204313  0.050675 -0.827056 -0.088165    six  -1.068859
2023-01-07 -1.177268  1.107909  0.361844 -1.292428    one  -0.999943
2023-01-08  0.848492 -1.471600 -1.722289  0.518982    two  -1.826415
2023-01-09  2.274555 -0.849919  0.079231 -0.462911  three   1.040956
2023-01-10 -0.698696  1.774935 -0.795400 -0.165599   four   0.115241
2023-01-11 -0.397225 -0.705440 -0.670563  0.683139   five  -1.090090
2023-01-12 -0.745329 -0.133100 -0.698459 -0.214659    six  -1.791547
2023-01-13 -0.210038  1.595001 -1.069953  0.005108    one   0.320118
2023-01-14 -0.912284 -1.742425  0.661786 -0.087189    two  -2.080112
2023-01-15  0.087768  1.115657  0.804005  0.207032  three   2.214462
2023-01-16 -1.180511  0.128649 -1.143905  0.546148   four  -1.649619
2023-01-17 -0.431363 -1.133710  2.249220  0.036143   five   0.720289
2023-01-18  0.530775  0.149690 -0.004461 -1.786270    six  -1.110265
2023-01-19 -0.575822 -2.150647  0.238443 -0.031255    one  -2.519281
2023-01-20  1.234565  1.131698 -0.662072 -0.238713    two   1.465478
2023-01-21 -1.997427  0.953925 -0.066815  0.691014  three  -0.419304
2023-01-22 -0.088016 -0.621893 -0.200423  1.826066   four   0.915735
2023-01-23 -0.673558  0.893967  1.808998 -0.169222   five   1.860186
2023-01-24  0.175554 -0.506150 -0.719203 -0.234602    six  -1.284401
2023-01-25 -1.339656 -0.162980  0.326060  0.902816    one  -0.273760
2023-01-26 -1.614238 -0.861238  0.509136  1.083919    two  -0.882421
2023-01-27  0.790750 -0.323677  1.161295  0.325749  three   1.954116
2023-01-28  0.368501  0.082505  0.178071  1.750669   four   2.379746
2023-01-29  0.241534 -0.018960  0.185802 -0.205038   five   0.203338
2023-01-30 -0.323865  0.108125 -0.352725 -0.160106    six  -0.728571